.App {
    background-image: url(../images/back1.jpg);
}

.blogsPage {
    background-image: url(../images/back1.jpg);
    background-color: black;
    background-position: top;
    background-size: cover;

    main {
        margin: 0 auto;
        width: 90%;
        height: 500px;
    }
}