main {

    .blogsContainer {
        background-color: rgb(243, 239, 224);
        opacity: 0.8;


    }

    .blogs {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        .blogItem {
            margin: 5px 5px 0 5px;
            border: 3px solid black;
            border-radius: 10px;
            max-width: 400px;
            height: 250px;
        }
    }
}