header {
    background-color: rgb(243, 239, 224);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    opacity: 0.8;

    .blogLogoDiv {
        width: 30%;

        img {
            width: 80%;
            height: 100%;
        }
    }

    nav {
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navigationDiv {
        width: 100%;

        ul {
            list-style-type: none;
            display: flex;
            justify-content: space-evenly;

            li {
                a {
                    font-family: 'Rubik Distressed', cursive;
                    text-decoration: none;
                    color: black;
                    font-size: 24px;
                    font-weight: bolder;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}