main {
    width: 50%;
    margin: 10vh auto;

    div {
        h1 {
            color: white;
            margin: 10px 0;
        }

        p {
            // margin-top: 15vh;
            color: white;
            font-size: 30px;
            font-weight: bolder;
        }
    }

}

.mainAnonContainer {
    width: 90%;
    margin: 0 auto;
}

.anonMain {
    width: 100%;
    height: 300px;
    margin: 0 auto;
    background-color: rgba(178, 178, 178, 0.5);

    img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }
}