main {
    width: 50%;
    margin: 10vh auto;

    div {
        h1 {
            color: white;
            margin: 10px 0;
        }

        p {
            // margin-top: 15vh;
            color: white;
            font-size: 30px;
            font-weight: bolder;
        }
    }

}